@model List<MyMvc9pmBatch.Models.EmployeeeModel>
@{
    ViewBag.Title = "GetMeView5";
}

<h2>GetMeView5</h2>

<table>
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>