
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    <form action="~/Login/Login" method="post" style="height:130px;width:500px;padding-left:100px;padding-top:10px;background-color:#114547;">
        <input type="text" name="UserName" value="" class="form-control" placeholder="Enter UserName" />
        <input type="password" name="Password" value="" class="form-control" placeholder="Enter Password" />
        <input type="submit" value="Login" class="btn btn-success" />
    </form>
</div>