
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Employee/Create" method="post">
    <label>EmpName</label>
    <input type="text" name="EmpName" value="" /><br />
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" value="" /><br />
    <input type="submit" value="Save" class="btn btn-success" />
</form>