@model CodeFirstApproach.Models.EmployeeModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form action="~/Employee/Edit" method="post">
    <input type="hidden" name="EmpId"  value="@Model.EmpId" />
    <label>EmpName</label>
    <input type="text" name="EmpName" value="@Model.EmpName" /><br />
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" value="@Model.EmpSalary" /><br />
    <input type="submit" value="Save" class="btn btn-success" />
</form>

