@model AdoNetExample.Models.EmployeeModel
@{
    ViewBag.Title = "Delete";
}

<h2>Are You Sure You Want to Delete Record?</h2>

@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary<br />

<form action="~/EmployeeDetail/Delete/@Model.EmpId" method="post">
    <input type="submit" name="name" value="Delete" class="btn btn-success" />
</form>


